In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("solar_panel_classification_data.csv")
dataset

,Panel,Efficiency,Degradation,Power(W),solar_irradiance,temperature,humidity,wind_speed,cloud_cover,panel_age,panel_tilt_angle,latitude,longitude,output_category
0,Panel_C,10.50,0.26,276,234.582148,27.409992,34.203594,12.909419,47.135301,8,40,43.162039,-80.402974,low
1,Panel_C,13.35,0.95,248,701.541503,20.095389,71.946512,2.424767,98.612964,4,20,33.483335,-97.290986,medium
2,Panel_A,11.59,0.67,248,800.323062,31.027154,60.910303,12.327964,70.145991,3,10,49.220731,-93.750434,low
3,Panel_B,14.53,0.48,384,264.976616,32.347156,60.115497,14.559179,66.752851,1,30,39.840162,-87.148791,low
4,Panel_C,12.29,0.22,299,314.577546,15.657046,81.578566,6.378646,39.263899,12,50,33.434963,-123.012506,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Panel_B,18.10,0.15,302,714.936187,22.766445,21.291239,3.602661,61.595182,4,10,33.858955,-88.585466,medium
996,Panel_B,12.30,0.65,226,736.401113,24.012641,45.690515,9.612694,19.704401,18,20,28.335311,-71.953013,high
997,Panel_C,10.12,0.56,291,863.499489,16.035945,67.038076,12.090799,75.375519,21,30,38.662189,-105.852577,medium
998,Panel_B,13.77,0.28,315,738.160525,31.421819,84.590728,14.336480,3.404805,22,10,37.980271,-113.286274,high
999,Panel_A,15.27,0.38,210,316.168286,39.039397,35.686455,2.955428,87.672747,7,10,34.095214,-101.175491,low

In [3]:
dataset.isnull().sum()

Panel               0
Efficiency          0
Degradation         0
Power(W)            0
solar_irradiance    0
temperature         0
humidity            0
wind_speed          0
cloud_cover         0
panel_age           0
panel_tilt_angle    0
latitude            0
longitude           0
output_category     0
dtype: int64

In [4]:
dataset['Panel'].value_counts()

Panel_C    349
Panel_B    331
Panel_A    320
Name: Panel, dtype: int64

In [5]:
dataset['Efficiency'].value_counts()

13.08    6
16.27    5
10.82    5
17.16    5
15.27    5
        ..
14.29    1
16.40    1
18.60    1
17.08    1
18.95    1
Name: Efficiency, Length: 628, dtype: int64

In [6]:
dataset['Degradation'].value_counts()

0.28    20
0.23    20
0.88    19
0.98    17
0.92    17
        ..
0.80     6
0.76     5
0.14     5
0.24     4
0.10     3
Name: Degradation, Length: 91, dtype: int64

In [7]:
dataset['Power(W)'].value_counts()

218    12
291    12
257    11
217    11
352    10
       ..
231     1
380     1
301     1
386     1
399     1
Name: Power(W), Length: 198, dtype: int64

In [8]:
dataset['solar_irradiance'].value_counts()

950.812268    1
369.826359    1
678.886293    1
860.834051    1
602.111551    1
             ..
939.921115    1
912.669063    1
582.546553    1
663.125314    1
741.636013    1
Name: solar_irradiance, Length: 1000, dtype: int64

In [9]:
dataset['temperature'].value_counts()

26.734922    1
31.009678    1
32.659704    1
30.470217    1
20.853316    1
            ..
29.942795    1
30.333321    1
22.989973    1
34.932448    1
35.005192    1
Name: temperature, Length: 1000, dtype: int64

In [10]:
dataset['humidity'].value_counts()

28.782419    1
13.452174    1
81.270108    1
46.406816    1
17.773745    1
            ..
52.832370    1
70.662961    1
50.996580    1
54.354541    1
56.434381    1
Name: humidity, Length: 1000, dtype: int64

In [11]:
dataset['wind_speed'].value_counts()

9.666572     1
2.948005     1
13.103587    1
14.116266    1
5.429368     1
            ..
9.945316     1
7.220932     1
9.328914     1
12.243678    1
4.788790     1
Name: wind_speed, Length: 1000, dtype: int64

In [12]:
dataset['cloud_cover'].value_counts()

75.531284    1
74.667334    1
24.495524    1
76.976063    1
58.909494    1
            ..
61.346072    1
10.975000    1
85.671223    1
30.122929    1
72.264256    1
Name: cloud_cover, Length: 1000, dtype: int64

In [13]:
dataset['panel_age'].value_counts()

14    53
8     51
12    48
21    48
2     47
3     45
15    44
24    42
17    42
0     41
18    41
20    41
9     40
4     38
13    38
11    38
1     37
16    37
19    37
10    35
22    35
5     31
7     31
23    31
6     29
Name: panel_age, dtype: int64

In [14]:
dataset['panel_tilt_angle'].value_counts()

10    216
50    208
40    196
30    194
20    186
Name: panel_tilt_angle, dtype: int64

In [15]:
dataset['latitude'].value_counts()

28.156473    1
48.295190    1
46.837884    1
46.752057    1
39.709615    1
            ..
42.887568    1
49.592532    1
32.745694    1
42.620129    1
46.207967    1
Name: latitude, Length: 1000, dtype: int64

In [16]:
dataset['longitude'].value_counts()

-107.071670    1
-114.473219    1
-104.191595    1
-100.471442    1
-95.583195     1
              ..
-90.843223     1
-106.205107    1
-76.734490     1
-123.495829    1
-93.629622     1
Name: longitude, Length: 1000, dtype: int64

In [17]:
dataset['output_category'].value_counts()

low       477
medium    429
high       94
Name: output_category, dtype: int64

In [18]:
dataset=dataset.drop("Panel",axis=1)
dataset

,Efficiency,Degradation,Power(W),solar_irradiance,temperature,humidity,wind_speed,cloud_cover,panel_age,panel_tilt_angle,latitude,longitude,output_category
0,10.50,0.26,276,234.582148,27.409992,34.203594,12.909419,47.135301,8,40,43.162039,-80.402974,low
1,13.35,0.95,248,701.541503,20.095389,71.946512,2.424767,98.612964,4,20,33.483335,-97.290986,medium
2,11.59,0.67,248,800.323062,31.027154,60.910303,12.327964,70.145991,3,10,49.220731,-93.750434,low
3,14.53,0.48,384,264.976616,32.347156,60.115497,14.559179,66.752851,1,30,39.840162,-87.148791,low
4,12.29,0.22,299,314.577546,15.657046,81.578566,6.378646,39.263899,12,50,33.434963,-123.012506,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,18.10,0.15,302,714.936187,22.766445,21.291239,3.602661,61.595182,4,10,33.858955,-88.585466,medium
996,12.30,0.65,226,736.401113,24.012641,45.690515,9.612694,19.704401,18,20,28.335311,-71.953013,high
997,10.12,0.56,291,863.499489,16.035945,67.038076,12.090799,75.375519,21,30,38.662189,-105.852577,medium
998,13.77,0.28,315,738.160525,31.421819,84.590728,14.336480,3.404805,22,10,37.980271,-113.286274,high
999,15.27,0.38,210,316.168286,39.039397,35.686455,2.955428,87.672747,7,10,34.095214,-101.175491,low

In [19]:
dataset.columns

Index(['Efficiency', 'Degradation', 'Power(W)', 'solar_irradiance',
       'temperature', 'humidity', 'wind_speed', 'cloud_cover', 'panel_age',
       'panel_tilt_angle', 'latitude', 'longitude', 'output_category'],
      dtype='object')

In [20]:
def quanqual(dataset):
        quan=[]
        qual=[]
        for ColumnName in dataset.columns:

            if (dataset[ColumnName].dtype=='O'):
                qual.append(ColumnName)
            else:
                 quan.append(ColumnName)
        return quan,qual

In [21]:
quan,qual=quanqual(dataset)

In [22]:
quan

['Efficiency',
 'Degradation',
 'Power(W)',
 'solar_irradiance',
 'temperature',
 'humidity',
 'wind_speed',
 'cloud_cover',
 'panel_age',
 'panel_tilt_angle',
 'latitude',
 'longitude']

In [23]:
qual

['output_category']

In [24]:
def UniVariate(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:99%","Q5:100%","IQR","1.5Rule","Lesser","Greater","Minimum","Maximum"],columns=quan)
    for ColumnName in quan:
        descriptive[ColumnName]["Mean"]=dataset[ColumnName].mean()
        descriptive[ColumnName]["Median"]=dataset[ColumnName].median()
        descriptive[ColumnName]["Mode"]=dataset[ColumnName].mode()[0]
        descriptive[ColumnName]["Q1:25%"]=dataset.describe()[ColumnName]["25%"]
        descriptive[ColumnName]["Q2:50%"]=dataset.describe()[ColumnName]["50%"]
        descriptive[ColumnName]["Q3:75%"]=dataset.describe()[ColumnName]["75%"]
        descriptive[ColumnName]["Q4:99%"]=np.percentile(dataset[ColumnName],99)
        descriptive[ColumnName]["Q5:100%"]=dataset.describe()[ColumnName]["max"]
        descriptive[ColumnName]["IQR"]= descriptive[ColumnName]["Q3:75%"]-descriptive[ColumnName]["Q1:25%"]
        descriptive[ColumnName]["1.5Rule"]=1.5*descriptive[ColumnName]["IQR"]
        descriptive[ColumnName]["Lesser"]=descriptive[ColumnName]["Q1:25%"]-descriptive[ColumnName]["1.5Rule"]
        descriptive[ColumnName]["Greater"]=descriptive[ColumnName]["Q3:75%"]+descriptive[ColumnName]["1.5Rule"]
        descriptive[ColumnName]["Minimum"]=dataset[ColumnName].min()
        descriptive[ColumnName]["Maximum"]=dataset[ColumnName].max()
    return descriptive

In [25]:
descriptive=UniVariate(dataset,quan)

In [26]:
def FindingOutlier(quan,UniVariate):
    Lesser=[]
    Greater=[]
    for ColumnName in quan:
        if(descriptive[ColumnName]["Minimum"]<descriptive[ColumnName]["Lesser"]):
            Lesser.append(ColumnName)
        if(descriptive[ColumnName]["Maximum"]>descriptive[ColumnName]["Greater"]):
            Greater.append(ColumnName)
    return Lesser,Greater

Lesser,Greater = FindingOutlier(quan,UniVariate)

In [27]:
Lesser

[]

In [28]:
Greater

[]

In [29]:
UniVariate(dataset,quan)

,Efficiency,Degradation,Power(W),solar_irradiance,temperature,humidity,wind_speed,cloud_cover,panel_age,panel_tilt_angle,latitude,longitude
Mean,14.9697,0.56264,298.438,595.178,24.8967,50.4678,7.61162,51.018,12.038,29.94,37.3771,-94.2579
Median,15.135,0.56,295,600.164,25.0282,51.1235,7.6909,50.9363,12,30,37.2614,-92.9376
Mode,13.08,0.23,218,200.404,10.0031,10.0437,0.0821637,0.13549,14,10,25.0583,-124.994
Q1:25%,12.67,0.33,250,390.303,17.1287,30.2236,3.87703,27.6951,6,20,31.3821,-109.559
Q2:50%,15.135,0.56,295,600.164,25.0282,51.1235,7.6909,50.9363,12,30,37.2614,-92.9376
Q3:75%,17.2325,0.78,348,791.248,32.088,70.7696,11.4897,75.1159,18,40,43.4429,-79.881
Q4:99%,19.89,0.99,397,984.042,39.5749,89.2366,14.876,98.6133,24,50,49.7533,-65.474
Q5:100%,19.98,1,399,996.552,39.9,89.8757,14.9459,99.9285,24,50,49.9765,-65.0772
IQR,4.5625,0.45,98,400.944,14.9594,40.546,7.61266,47.4208,12,20,12.0607,29.6777
1.5Rule,6.84375,0.675,147,601.416,22.439,60.819,11.419,71.1312,18,30,18.0911,44.5165
Lesser,5.82625,-0.345,103,-211.113,-5.31038,-30.5954,-7.54197,-43.436,-12,-10,13.291,-154.075
Greater,24.0762,1.455,495,1392.66,54.5271,131.589,22.9087,146.247,36,70,61.534,-35.3645
Minimum,10.01,0.1,200,200.404,10.0031,10.0437,0.0821637,0.13549,0,10,25.0583,-124.994
Maximum,19.98,1,399,996.552,39.9,89.8757,14.9459,99.9285,24,50,49.9765,-65.0772

In [30]:
Lesser, Greater =FindingOutlier(quan, descriptive)
print("Lesser:", Lesser)
print("Greater:", Greater)
Lesser = Lesser
Greater = Greater

Lesser: []
Greater: []

There are no null values present in the dataset.
Additionally, no outliers are present in the dataset.